<nav>
  <ul class="pagination">
    <li class="page-item" [ngClass]="{ disabled: 0 === currentPage }">
      <a class="page-link" (click)="currentPage = currentPage - 1">Previous</a>
    </li>
    <ng-container *ngFor="let link of links; let i = index">
      <li class="page-item"
        [ngClass]="{active: i === currentPage}"
        *ngIf="checkWindowIndex(i)"
      >
        <a class="page-link" (click) = "currentPage = i">{{i + 1}}</a>
      </li>
    </ng-container>       
    <li  class="page-item" [ngClass]="{ disabled: links.length - 1 === currentPage }">
      <a class="page-link" (click)="currentPage = currentPage + 1">Next</a>
    </li>

  </ul>
</nav>
<div>
  <h1>{{links[currentPage].title}}</h1>
  <img [src]="links[currentPage].url"/>
</div>